<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">
      <div class="row">
      <div class="col-md-3">
            <div class="panel panel-default" >
                <div class="panel-heading"><h4>Right Panel</h4></div>
                <ul class="list-group" style="height: 500px; overflow: auto;margin-left: 0px;">
                    <li class="list-group-item">
                        <a href="">List 1</a>
                    </li>
                     <li class="list-group-item">
                        <a href="">List 2</a>
                    </li>
                     <li class="list-group-item">
                        <a href="">List 3</a>
                    </li>
                     <li class="list-group-item">
                        <a href="">List 4</a>
                    </li>
                </ul>
            </div>
        </div>
      <div class="col-md-9">
        {{ content }}
      </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
<script type="text/javascript" src="{{ "/js/app.js" | prepend: site.baseurl }}"></script> 
</html>
